torch==2.0.0
torchvision==0.15.1
transformers==4.33.2
datasets==2.14.6
accelerate==0.24.1
peft==0.6.0
trl>=0.7.2
scipy==1.10.1
sentencepiece
protobuf
tiktoken
fire
jieba==0.42.1
rouge-chinese
nltk
gradio==3.50.2
uvicorn
pydantic==1.10.11
fastapi==0.95.1
sse-starlette
matplotlib
scikit-learn==1.2.2
openpyxl==3.0.10
pandas==1.5.3
pynvml